/* Utterly ripped off https://codepen.io/joosts/pen/rNLdxvK */

* {
  padding: 0;
  margin: 0;
}
body {
  padding: 40px;
}





.slider-wrapper {
  display: flex;
  /* flex-flow: row wrap; */
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
.input-text {
  width: 70px;
  margin-bottom: 15px;
}

.min-max-slider {
  position: relative;
  width: 200px;
  text-align: center;
}
.min-max-slider > label {
  display: none;
}


.min-max-slider > .legend {
  display: flex;
  justify-content: space-between;
}
.min-max-slider > .legend > * {
  font-size: small;
  opacity: 0.25;
}
.min-max-slider > .input-range {
  cursor: pointer;
  position: absolute;
}

/* webkit specific styling */
.min-max-slider > .input-range {
  -webkit-appearance: none;
  outline: none !important;
  background: transparent;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 30%,
    silver 30%,
    silver 60%,
    transparent 60%,
    transparent 100%
  );
}
.min-max-slider > .input-range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 14px; /* Set a specific slider handle width */
  height: 14px; /* Slider handle height */
  background: #eee; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border: 1px solid gray;
  border-radius: 100%;
}
.min-max-slider > .input-range::-webkit-slider-runnable-track {
  cursor: pointer;
}

